.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    font-size: 84px;
   };
  &__message {
    font-size: 48px;
  };
  &__artwork {
    font-size: 150px;
  }
}
