.not-found {
  display: flex;
  margin-top: 38px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    font-size: 64px !important;
   };
  &__message {
    font-size: 32px !important;
  };
  &__artwork {
    font-size: 150px;
  }
}
